<div class="content">

    <section id="top">
        <div class="title">
            <h6>
                Matheus Marques,
            </h6>
        
            <h3>
                dev front-end <span>&</span> UX/UI designer
            </h3>
        
            <!-- <a href="">
                <button class="shareIdeia">
                    <span>Compartilhe a sua ideia comigo</span>
                </button>
            </a> -->

            <a href="https://wa.me/5521999592416" target="_blank" class="btn">
                <span class="btn__circle"></span>
                <span class="btn__white-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" id="icon-arrow-right" viewBox="0 0 21 12">
                    <path d="M17.104 5.072l-4.138-4.014L14.056 0l6 5.82-6 5.82-1.09-1.057 4.138-4.014H0V5.072h17.104z"></path>
                  </svg>
                </span>
                <span class="btn__text">Compartilhe sua ideia comigo!</span>
            </a>
        </div>

        <!-- <div class="contact">
            <span>Me contate</span>
        </div> -->
    
    </section>

    <section id="body">
        <p>
            Sou desenvolvedor front-end e designer UX/UI desde 2021, meu objetivo é criar interfaces atraentes, intuitivas e funcionais. Trabalho de perto com os clientes para transformar ideias em produtos excepcionais.
            <br><br>
            Estou aqui para ajudar você a alcançar seus objetivos digitais com um site envolvente e orientado para o usuário.
        </p>


        <div class="talkMe">
            <h2>Converse comigo e compartilhe a sua ideia,</h2>
            <p>
              deixe-me ajudar a fazer acontecer!
            </p>

            <a href="https://wa.me/5521999592416" target="_blank">
                <button class="talkMe-btn">
                    <span>Fale comigo no whatsapp</span>
                </button>
            </a>

            <div class="social">
                <div class="wrapper">
  
                    <a class="icon linkedin" href="https://www.linkedin.com/in/matheusbmarquesg" target="_blank">
                        <span><img src="../assets/linkedin3.png"></span>
                    </a>
    
                    <a class="icon instagram" href="https://instagram.com/4hife?igshid=YmMyMTA2M2Y=" target="_blank">
                    <span><img src="../assets/instagram.png"></span>
                    </a>
  
                </div>
            </div>

        </div>
    </section>

</div>

