<main>
  <div class="principal">
    <h1>Matheus Marques,
      <br>
      desenvolvedor <strong>front-end</strong> e <strong>designer</strong>.
    </h1>
  
    <p>
      Sou desenvolvedor front-end e designer UX/UI desde 2021, meu objetivo é criar interfaces atraentes, intuitivas e funcionais. Trabalho de perto com os clientes para transformar ideias em produtos excepcionais.
      <br><br>
      Estou aqui para ajudar você a alcançar seus objetivos digitais com um site envolvente e orientado para o usuário.
    </p>
  
    <!-- <div class="contact">
      <p>Me contate</p>
    </div> -->
  
    <div class="contact">
      <h2>Converse comigo e compartilhe a sua ideia,</h2>
      <p>
        deixe-me ajudar a fazer acontecer!
      </p>
  
      <div class="buttons">

        <a href="https://wa.me/5521999592416" target="_blank">
          <button class="btnWhatsapp">
            <img src="../assets/icon-whatsApp.png">
            Fale comigo pelo whatsapp
          </button>
        </a>

        <!-- <button class="btnWork">Conheça o meu trabalho</button> -->

        <div class="social">
          <div class="wrapper">
  
            <a class="icon linkedin" href="https://www.linkedin.com/in/matheusbmarquesg" target="_blank">
              <span><img src="../assets/linkedin3.png"></span>
            </a>
  
            <a class="icon instagram" href="https://instagram.com/4hife?igshid=YmMyMTA2M2Y=" target="_blank">
              <span><img src="../assets/instagram.png"></span>
            </a>
  
            <!-- <a class="icon github">
              <span><img src="../assets/github.png"></span>
            </a> -->
  
          </div>
        </div>
        
      </div>


  
    </div>

    
  
  </div>

  <!-- <section class="image">
    <img src="../assets/matheus2.png">
  </section> -->
  
</main>




<!-- <router-outlet></router-outlet> -->