/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Poppins';
    src: url('./assets/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('./assets/Fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsExtraLight';
    src: url('./assets/Fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
